<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
  </head>
  <script>
    function sendMessage(formid,path) {
      const form = new FormData(document.getElementById(formid));
      let formBody = [];
      for (let key of form.keys()) {
        const encodedKey = encodeURIComponent(key);
        const encodedValue = encodeURIComponent(form.get(key));
        formBody.push(encodedKey + "=" + encodedValue);
      }
      formBody = formBody.join("&");

      fetch("/"+path, {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
        body: formBody,
      })
        .then((response) => response.json())
        .then((data) => {
          alert(data.message);
          window.location.reload();
        });
    }
  </script>
  <body>
    <div class="pgtitle"><h1>Welcome! Please Insert In Your Details.</h1></div>

    <div class="container box" id="container">
      <div class="form-container sign-up-container">
        <form action="/user" method="post" id="userSubmit">
          <h1>Insert Student</h1>
          <div class="social-container">
            <a href="#" class="social">
              <box-icon type="solid" name="school"></box-icon>
            </a>

            <a href="#" class="social"
              ><box-icon name="spreadsheet"></box-icon
            ></a>
            <a href="#" class="social"
              ><box-icon name='user'></box-icon></box-icon
            ></a>
          </div>
          <span>Insert your student details here.</span>
          <input type="text" placeholder="username" name="studentName" />
          <input type="number" placeholder="phoneNumber" name="studentphone" />
          <input type="text" placeholder="Address" name="studentAddress" />
          <input type="text" placeholder="Branch" name="studentBranch" />
          <button class="Pgbtns submitBtn" type="submit" id="submitBtn">Insert</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="/faculty" method="post" id="facultySubmit">
          <h1>Insert Faculty</h1>
          <div class="social-container">
            <a href="#" class="social"
              ><box-icon type="logo" name="microsoft-teams"></box-icon
            ></a>
            <a href="#" class="social"
              ><box-icon type='solid' name='pen'></box-icon></box-icon
            ></a>
            <a href="#" class="social"
              ><box-icon type="solid" name="group"></box-icon
            ></a>
          </div>
          <span>Insert the faculty details here.</span>
          <input type="text" placeholder="Name" name="facultyName" />
          <input type="text" placeholder="Subject"name="facultySubject" />
          <button class="Pgbtns submitBtn" type="submit">Insert</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Hola!</h1>
            <p>
              Want to create a <i><b>faculty member?</b></i> Click on the
              "Create" button to get started!
            </p>
            <button class="ghost Pgbtns" id="signIn">Create</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello!</h1>
            <p>
              Want to insert a <i><b>new student?</b></i> Click on the "Create"
              button to get started!
            </p>
            <button class="ghost Pgbtns" id="signUp">Create</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const signUpButton = document.getElementById("signUp");
    const signInButton = document.getElementById("signIn");
    const container = document.getElementById("container");

    signUpButton.addEventListener("click", () => {
      container.classList.add("right-panel-active");
    });

    signInButton.addEventListener("click", () => {
      container.classList.remove("right-panel-active");
    });

    document.getElementById("userSubmit").addEventListener("submit", (data) => {
      data.preventDefault();
      sendMessage("userSubmit","user");
    });

    document.getElementById("facultySubmit").addEventListener("submit", (data) => {
        data.preventDefault();
        sendMessage("facultySubmit","faculty");
      });
  </script>
</html>
